<div class="text-white" style="position: fixed; right: 25px; bottom: 25px;">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Menu</button>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel"><i class="oi oi-home"></i> Netcode Bottom Menus</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-horizontal-md">
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                    <span class="oi oi-home" aria-hidden="true"></span> Home
                                </NavLink>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="create" Match="NavLinkMatch.All">
                                    <span class="oi oi-plus" aria-hidden="true"></span> Create Post
                                </NavLink>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <span class="oi oi-aperture" aria-hidden="true"></span> Follow Us:
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="create" Match="NavLinkMatch.All">
                                    <span class="oi" aria-hidden="true"></span> Facebook
                                </NavLink>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="create" Match="NavLinkMatch.All">
                                    <span class="oi" aria-hidden="true"></span> Instagram
                                </NavLink>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="create" Match="NavLinkMatch.All">
                                    <span class="oi" aria-hidden="true"></span> Tiktok
                                </NavLink>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>